.formInput {
  width: 90%;
  height: 80%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 90%;
  margin: auto;
  font-size: 1.8vh;
  color: #afafc3;
  font-family: "Roboto", sans-serif;
}
input {
  color: #848496;
  all: unset;
  border-bottom: 0.5em solid #51515b;
  font-family: "Roboto", sans-serif;
  caret-color: #a93a2b;
}
.formInput :nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.formInput :nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
#stack3 {
  width: 90%;
}
#stack2 {
  width: 93%;
}
#stack1 {
  width: 96%;
}
