::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #848496;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.elements-carrier {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.spaceBlock {
  display: inline-block;

  min-width: 100%;
  margin-left: 5%;
}

#home {
  background-color: #848496;
}

#aboutMe {
  background-color: #111111;
}

#projects {
  background-color: #7b3c3c;
}
#contact {
  background-color: aliceblue;
  margin-right: 5%;
}
