.ID-Card {
  display: block;
  margin: 0 auto;
  width: 70%;
  height: 100%;
}
.ID-Picture {
  display: block;
  margin: 15% auto;
  width: 38%;
  height: 40%;
  border-radius: 100%;
  border: 0.2em solid #54545e;
  box-shadow: 0px 3px 16px 3px rgba(36, 36, 38, 0.25);
  overflow: hidden;
  position: relative;
}
.ID-Picture img {
  position: absolute;
  max-width: 100%;
}
.ID-Name {
  text-align: center;
  margin-top: -12%;
  color: #848496;
  font-family: "Roboto", sans-serif;
  font-size: calc(1vh + 1vw);
  line-height: normal;
}

.ID-Title1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #a9a9c2;
  font-size: calc(1.2vh + 1.2vw);
  line-height: normal;
}

.orangeBrackets {
  font-family: "Roboto", sans-serif;
  color: #a93a2b;
}

.ID-Title2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #a9a9c2;
  font-size: calc(1vh + 1vw);
}

#orangePsign {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #a93a2b;
}
