@media only screen and (orientation: portrait) {
  .screenL-skeleton-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 90%;
    height: auto;
  }
}

@media only screen and (orientation: landscape) {
  .screenL-skeleton-container {
    aspect-ratio: 9/6;
    position: absolute;
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 90%;
    max-height: 90%;
    height: auto;
    filter: drop-shadow(1em 1em 2em #2a272798);
  }

  Nav {
    grid-column: auto;
    grid-row: 1;
  }
  Body {
    grid-column: auto;
    grid-row: 2;
  }
  Footer {
    grid-column: auto;
    grid-row: 3;
  }
}
